extends layout
block content
	canvas(width=640,height=480,id="screen")
	div(class="dialog",id="signin")
		div Sign In
		div
			div
				a Sign Up
			div
				input(type="text",placeholder="Username",name="username")
			div
				input(type="password",placeholder="Password",name="password")
			div
				input(type="button",value="Sign In")
	div(class="dialog",id="signup")
		div Sign Up
		div
			div
				a Sign In
			div
				input(type="text",placeholder="Username",name="username")
			div
				input(type="password",placeholder="Password",name="password")
			div
				input(type="button",value="Sign Up")
	div(class="dialog",id="character")
		div Character
		div
			.canvas
				canvas(id="previewcharacter",width=150,height=150)
			.customization
				div Body
					div(class="cp",data-part="body")
						div(style="background-color:#112233;")
				div Head
					div(class="cp",data-part="head")
						div(style="background-color:#001122;")
				div Torso
					div(class="cp",data-part="torso")
						div(style="background-color:#223344;")
				div Legs
					div(class="cp",data-part="legs")
						div(style="background-color:#334455;")
				div Feet
					div(class="cp",data-part="feet")
						div(style="background-color:#445566;")
			div 
				input(type="text",name="charactername",placeholder="Name")
			div
				input(type="button",value="Create",id="createcharacter")
			div
				input(type="button",value="Cancel",id="cancelcharacter")
block head
	link(rel="stylesheet",href="/stylesheets/colorpicker.css")
	script(src="/javascripts/colorpicker/colorpicker.js")
	script(src="/javascripts/colorpicker/eye.js")
	script(src="/javascripts/colorpicker/utils.js")
	
	script(src="/javascripts/utility.js")
	script(src="/javascripts/screen.js")
	script(src="/javascripts/screens/loading.js")
	script(src="/javascripts/screens/authentication.js")
	script(src="/javascripts/screens/viewcharacters.js")
	script(src="/javascripts/screens/createcharacter.js")
	script(src="/javascripts/setup.js")