doctype html
html
	head
		title=title
		script(src="javascripts/socket.io-1.0.6.js")
		script(src="javascripts/jquery-2.1.1.min.js")
		link(rel="stylesheet",href="/stylesheets/style.css")
		block head
	body
		block content